.a{
	color: whitesmoke;
	font-size: 50px;
	text-align: center;
	background-color: black;
}
.b{
	color: whitesmoke;
	font-size: 50px;
	text-align: center;
	background-color: black;
}
#a1{
	color: blue;
	font-size: 50px;
	font-family: cursive;
	text-align: center;
	background-color: black;
}